* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}


.grid-container{
  display: grid;
  grid-template-areas: "menu remeras";
}

.grid-main-menu{
  grid-area: menu;
}
.grid-content{
  grid-area: remeras;
}
