<div class="table-responsive">
<table class="table table-striped flex-column table align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Actividad</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Promedio Final</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaEstudiantes"> 
        <th>{{item.id}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.fecha_nacimiento}}</td>
        <td [ngClass]="item.estaActivo ? 'activo' : 'inactivo'"><ng-container *ngIf="!item.estaActivo  else elseTemplate">
            <p>No Esta asistiendo</p>
        </ng-container>
        <ng-template #elseTemplate>
           <p>Esta asistiendo</p>
        </ng-template>
        </td>
        <td>{{item.fecha_inicio}}</td>
        <td>{{item.fecha_final}}</td>
      </tr>
    </tbody>
  </table>
</div>


