<div class="content-area-main">
  <div class="content-area-card">
    <h4>Remera Nike</h4>
    <img src="../../../assets/311222140-Remera-Basica-Cardiel-Cuello-Redondo-Mangas-Cortas-Azul-Marino.jpg" alt="">
    <p>La remera negra es una prenda basica versatil que se caracteriza por su color negro</p>
  </div>
  <div class="content-area-card">
    <h4>Remera Nike</h4>
    <img src="../../../assets/311222140-Remera-Basica-Cardiel-Cuello-Redondo-Mangas-Cortas-Azul-Marino.jpg" alt="">
    <p>La remera negra es una prenda basica versatil que se caracteriza por su color negro</p>
  </div>
  <div class="content-area-card">
    <h4>Remera Nike</h4>
    <img src="../../../assets/311222140-Remera-Basica-Cardiel-Cuello-Redondo-Mangas-Cortas-Azul-Marino.jpg" alt="">
    <p>La remera negra es una prenda basica versatil que se caracteriza por su color negro</p>
  </div>
  <div class="content-area-card">
    <h4>Remera Nike</h4>
    <img src="../../../assets/311222140-Remera-Basica-Cardiel-Cuello-Redondo-Mangas-Cortas-Azul-Marino.jpg" alt="">
    <p>La remera negra es una prenda basica versatil que se caracteriza por su color negro</p>
  </div>
</div>
